*{
    margin: 0px;
    padding: 0px;
}
#headercontainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    height: 8vh;
}
#headercontainer, h1{
    color: rgb(37, 37, 223);
    padding-left: 30px;
} 
a{
    text-decoration: none;
    color: black;
    padding-right: 40px;

}
#navtext{
    padding-right: 30px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
#imgContainer{
    background-image: url("istockphoto-1322620545-612x612.jpg");
    height: 80vh;
    background-repeat:no-repeat;
    background-size: cover;
    display: flex;
    color:white;
    flex-direction: column;
    gap:20px;
    justify-content: center;
    align-items: center;
}
input{
    width:200px;
    height: 30px;
    border-radius: 6px;
    padding-left: 10px;
}
a:hover{
    font-size: large;
    color: red;
}
select{
    padding-left: 10px;
    width: 150px;
    height: 30px;
    border-radius: 6px;
}
#search-btn{
    border-radius: 8px;
    width: 70px;
    text-align: center;
    color: white;
    height:30px;
    background-color: rgb(37, 37, 223);
}
#location{
    margin-top: -30px;
    margin-left: 206px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70vw;
    height: 10vh;
    background-color: whitesmoke;
    border: 1px solid rgb(8, 7, 7);
    border-radius: 5px;
}
#property{
    background-color: grey;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height : 84vh;
}
.propclass img{
    height: 35vh;
    width: 25vw;
} 
.propclass:hover{
    transform: scale(1.1);
    box-shadow: 0 0 15px 10px rgb(222, 219, 219);
}
.propclass{
    width: 25vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 6px;
    padding-bottom: 30px;
}
#agents{
    height: 44vh;
    background-color: grey;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.agentclass img{
    border-radius: 50%;
    width: 60px;
}
.agentclass{
    padding-top: 5px;
    text-align: center;
    width: 25vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content :space-around;
    align-items: center;
    border-radius: 6px;
    background-color: whitesmoke;
    padding-bottom: 30px;
}
.agentclass:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 10px rgb(222, 219, 219);
}
#whyus{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: grey;
    height: 30vh;
}
.whyus{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 20vw;
    height: 20vh;
    background-color: whitesmoke;
    border-radius: 6px;
    padding-bottom: 20px;
}
.whyus:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 10px rgb(222, 219, 219);
}
#blue{
    margin-top: 20px;
    height: 16vh;
    background-color:rgb(37, 37, 223);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}
#top h1{
    color: white;
}
#top{
    margin-left: -40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:50px;
}
#bottom{
    padding-left: 40px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:30px;
}
#contact{
    margin-bottom: 60px;
}
#city,#contact{
    flex-direction: column;
    justify-content: space-evenly;
    display: flex;
    gap: 8px;
}

#city h1{
    padding-left: -10px;
}
#footer{
    margin-top: 20px;
    padding-top: 40px;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(6, 5, 5);
    color: white;
    padding-bottom: 40px;
}
